<?xml version="1.0"?>
<config>
	<modules>
		<Bulksupplements_Catalog>
			<version>1.0</version>
		</Bulksupplements_Catalog>
	</modules>
	<global>
		<helpers>
			<catalog>
				<rewrite>
					<product_compare>Bulksupplements_Catalog_Helper_Product_Compare</product_compare>
					<product>Bulksupplements_Catalog_Helper_Product</product>
				</rewrite>
			</catalog>
		</helpers>
		<blocks>			
			<catalog>
				<rewrite>
					<product_view>Bulksupplements_Catalog_Block_Product_View</product_view>					
				</rewrite>
			</catalog>
		</blocks>
		<models>
			<catalog>
				<rewrite>
					<product_type_price>Bulksupplements_Catalog_Model_Product_Type_Price</product_type_price>					
				</rewrite>
			</catalog>
		</models>
<!--		<events>
			<catalog_product_save_after>
				<observers>
					<bulksupplements_catalog>
						<type>singleton</type>
						<class>bulksupplements_catalog_model_observer</class>
						<method>saveConfigurableData</method>
					</bulksupplements_catalog>
				</observers>
			</catalog_product_save_after>
		</events>-->
	</global>
	<frontend>
		<routers>
			<catalog>
				<args>
					<modules>
						<Bulksupplements_Catatog before="Mage_Catalog">Bulksupplements_Catalog</Bulksupplements_Catatog>
					</modules>
				</args>
			</catalog>
		</routers>
	</frontend>
</config>
