<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWGPPercent>
			<version>1.1.6</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>adminhtml/ewgppercent_config/index</configure_url>
            </extendware>
		</Extendware_EWGPPercent>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<extendware_ewgppercent after="Mage_Adminhtml">Extendware_EWGPPercent</extendware_ewgppercent>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWGPPercent>
					<files>
						<default>extendware/Extendware_EWGPPercent.csv</default>
					</files>
				</Extendware_EWGPPercent>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewgppercent>
					<file>extendware/ewgppercent.xml</file>
				</ewgppercent>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate></translate>
		<layout></layout>
		<routers></routers>
    </frontend>
	<global>
		<models>
			<ewgppercent>
				<class>Extendware_EWGPPercent_Model</class>
				<resourceModel>ewgppercent_mysql4</resourceModel>
			</ewgppercent>
			<ewgppercent_mysql4>
                <class>Extendware_EWGPPercent_Model_Mysql4</class>
                <entities>
                	<group_price>
	                    <table>ewgppercent_group_price</table>
	                </group_price>
	                <tier_price>
	                    <table>ewgppercent_tier_price</table>
	                </tier_price>
	        	</entities>
            </ewgppercent_mysql4>
		</models>
		<blocks>
			<ewgppercent>
                <class>Extendware_EWGPPercent_Block</class>
            </ewgppercent>
		</blocks>
		<helpers>
			<ewgppercent>
				<class>Extendware_EWGPPercent_Helper</class>
			</ewgppercent>
		</helpers>
		<resources>
			<ewgppercent_setup>
				<setup>
					<module>Extendware_EWGPPercent</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewgppercent_setup>
			<ewgppercent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewgppercent_write>
            <ewgppercent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewgppercent_read>
		</resources>
		<events>
            <catalog_product_import_finish_before>
                <observers>
                    <extendware_ewgppercent>
                        <class>ewgppercent/observer</class>
                        <method>catalogProductImportFinishBefore</method>
                    </extendware_ewgppercent>
                </observers>
            </catalog_product_import_finish_before>
            <catalog_product_save_commit_after>
                <observers>
                    <extendware_ewgppercent>
                        <class>ewgppercent/observer</class>
                        <method>catalogProductSaveCommitAfter</method>
                    </extendware_ewgppercent>
                </observers>
            </catalog_product_save_commit_after>
		</events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewgppercent>
			<general>
				<price_mode>percent_of</price_mode>
				<reference_price_mode>price</reference_price_mode>
			</general>
		</ewgppercent>
	</default>
	<extendware>
		<override>
			<model>
           		<mage_catalog_product_attribute_backend_groupprice_abstract_ewgppercent_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Catalog_Model_Product_Attribute_Backend_Groupprice_Abstract</class></search>
           			<replace>
           				<class>Extendware_EWGPPercent_Model_Override_Mage_Catalog_Product_Attribute_Backend_Groupprice_Abstract</class>
            			<order>100</order>
           			</replace>
           		</mage_catalog_product_attribute_backend_groupprice_abstract_ewgppercent_override>
           		<mage_catalog_product_attribute_api_abstract_ewgppercent_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Catalog_Model_Product_Attribute_Tierprice_Api</class></search>
           			<replace>
           				<class>Extendware_EWGPPercent_Model_Override_Mage_Catalog_Product_Attribute_Tierprice_Api</class>
            			<order>100</order>
           			</replace>
           		</mage_catalog_product_attribute_api_abstract_ewgppercent_override>
           		<mage_api_wsdl_config_ewgppercent_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Api_Model_Wsdl_Config</class></search>
           			<replace>
           				<class>Extendware_EWGPPercent_Model_Override_Mage_Api_Wsdl_Config</class>
            			<order>100</order>
           			</replace>
           		</mage_api_wsdl_config_ewgppercent_override>
           		<!-- used to support older versions of magento -->
           		<mage_catalog_model_product_attribute_backend_tierprice_ewgppercent_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Catalog_Model_Product_Attribute_Backend_Tierprice</class></search>
           			<replace>
           				<class>Extendware_EWGPPercent_Model_Override_Mage_Catalog_Product_Attribute_Backend_Groupprice_Abstract</class>
            			<order>100</order>
           			</replace>
           			<conditions>
           				<class_check>
	           				<type>simple</type>
	           				<name>class_is_loadable</name>
	           				<class>Mage_Catalog_Model_Product_Attribute_Backend_Groupprice_Abstract</class>
           					<value>0</value>
           				</class_check>
           			</conditions>
           		</mage_catalog_model_product_attribute_backend_tierprice_ewgppercent_override>
           	</model>
			<block>
           		<mage_adminhtml_catalog_product_edit_tab_price_tier_ewgppercent_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Adminhtml_Block_Catalog_Product_Edit_Tab_Price_Tier</class></search>
           			<replace>
           				<class>Extendware_EWGPPercent_Block_Override_Mage_Adminhtml_Catalog_Product_Edit_Tab_Price_Tier</class>
            			<order>100</order>
           			</replace>
           		</mage_adminhtml_catalog_product_edit_tab_price_tier_ewgppercent_override>
           		<mage_adminhtml_catalog_product_edit_tab_price_group_ewgppercent_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Adminhtml_Block_Catalog_Product_Edit_Tab_Price_Group</class></search>
           			<replace>
           				<class>Extendware_EWGPPercent_Block_Override_Mage_Adminhtml_Catalog_Product_Edit_Tab_Price_Group</class>
            			<order>100</order>
           			</replace>
           		</mage_adminhtml_catalog_product_edit_tab_price_group_ewgppercent_override>
           	</block>
		</override>
	</extendware>
</config>
