<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWAlsoViewed>
			<version>1.0.7</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewalsoviewed/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWAlsoViewed>
	</modules>
	<admin>
        <routers>
			<extendware_ewalsoviewed>
				<use>admin</use>
				<args>
					<module>Extendware_EWAlsoViewed</module>
					<frontName>extendware_ewalsoviewed</frontName>
				</args>
			</extendware_ewalsoviewed>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWAlsoViewed>
					<files>
						<default>extendware/Extendware_EWAlsoViewed.csv</default>
					</files>
				</Extendware_EWAlsoViewed>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewalsoviewed>
					<file>extendware/ewalsoviewed.xml</file>
				</ewalsoviewed>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWAlsoViewed>
					<files>
						<default>extendware/Extendware_EWAlsoViewed.csv</default>
					</files>
				</Extendware_EWAlsoViewed>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewalsoviewed>
					<file>extendware/ewalsoviewed.xml</file>
				</ewalsoviewed>
			</updates>
		</layout>
		<routers>
			<ewalsoviewed>
				<use>standard</use>
				<args>
					<module>Extendware_EWAlsoViewed</module>
					<frontName>ewalsoviewed</frontName>
				</args>
			</ewalsoviewed>
        </routers>
    </frontend>
	<global>
		<models>
			<ewalsoviewed>
				<class>Extendware_EWAlsoViewed_Model</class>
				<resourceModel>ewalsoviewed_resource</resourceModel>
			</ewalsoviewed>
			<ewalsoviewed_resource>
                <class>Extendware_EWAlsoViewed_Model_Resource</class>
                <entities/>
            </ewalsoviewed_resource>
		</models>
		<blocks>
			<ewalsoviewed>
                <class>Extendware_EWAlsoViewed_Block</class>
            </ewalsoviewed>
		</blocks>
		<helpers>
			<ewalsoviewed>
				<class>Extendware_EWAlsoViewed_Helper</class>
			</ewalsoviewed>
		</helpers>
		<resources>
			<ewalsoviewed_setup>
				<setup>
					<module>Extendware_EWAlsoViewed</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewalsoviewed_setup>
			<ewalsoviewed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewalsoviewed_write>
            <ewalsoviewed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewalsoviewed_read>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewalsoviewed>
			<related>
				<enabled>1</enabled>
				<listing_mode>existing_first</listing_mode>
				<maximum_existing_products>2</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</related>
			<upsells>
				<enabled>1</enabled>
				<listing_mode>existing_first</listing_mode>
				<maximum_existing_products>2</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</upsells>
			<crosssells>
				<enabled>1</enabled>
				<listing_mode>existing_first</listing_mode>
				<maximum_existing_products>2</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</crosssells>
			<checkout_crosssells>
				<enabled>1</enabled>
				<listing_mode>existing_first</listing_mode>
				<generation_mode>hybrid</generation_mode>
				<maximum_existing_products>2</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</checkout_crosssells>
			<viewed>
				<enabled>1</enabled>
				<listing_mode>replace</listing_mode>
				<maximum_existing_products>0</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</viewed>
			<viewed_sidebar>
				<enabled>1</enabled>
				<listing_mode>replace</listing_mode>
				<maximum_existing_products>0</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</viewed_sidebar>
		</ewalsoviewed>
		<ewalsoviewed_advanced>
			<general>
				<maximum_visitors>1000</maximum_visitors>
				<maximum_products>50</maximum_products>
			</general>
		</ewalsoviewed_advanced>
	</default>
	<extendware>
		<override>
           	<block>
				<mage_catalog_product_list_crosssell_ewalsoviewed_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Block_Product_List_Crosssell</class></search>
           			<replace>
           				<class>Extendware_EWAlsoViewed_Block_Override_Mage_Catalog_Product_List_Crosssell</class>
            			<order>200</order>
           			</replace>
           		</mage_catalog_product_list_crosssell_ewalsoviewed_override>
           		<mage_catalog_product_list_upsell_ewalsoviewed_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Block_Product_List_Upsell</class></search>
           			<replace>
           				<class>Extendware_EWAlsoViewed_Block_Override_Mage_Catalog_Product_List_Upsell</class>
            			<order>200</order>
           			</replace>
           		</mage_catalog_product_list_upsell_ewalsoviewed_override>
           		<mage_catalog_product_list_related_ewalsoviewed_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Block_Product_List_Related</class></search>
           			<replace>
           				<class>Extendware_EWAlsoViewed_Block_Override_Mage_Catalog_Product_List_Related</class>
            			<order>200</order>
           			</replace>
           		</mage_catalog_product_list_related_ewalsoviewed_override>
           		<mage_checkout_cart_crosssell_ewalsoviewed_override>
					<mode>extendware</mode>
           			<search><class>Mage_Checkout_Block_Cart_Crosssell</class></search>
           			<replace>
           				<class>Extendware_EWAlsoViewed_Block_Override_Mage_Checkout_Cart_Crosssell</class>
            			<order>200</order>
           			</replace>
           		</mage_checkout_cart_crosssell_ewalsoviewed_override>
           	</block>
		</override>
	</extendware>
</config>
