<?xml version="1.0"?>
<config>
    <sections>
        <shipworks translate="label" module="Shipworks">
            <label>Shipworks</label>
            <tab>ERP</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <require_ssl translate="label">
                            <label>Require ssl</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </require_ssl>
                        <enable_log translate="label">
                            <label>Enable logs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_log>
                        <shipping_method>
                            <label>Shipping methods</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Shipworks/System_Config_Source_Shipping_AllMethods</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comments>Shipworks will download only orders with these shipping methods</comments>
                        </shipping_method>                        
                    </fields>
                </general>
            </groups>
        </shipworks>
    </sections>
</config>