<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWCacheBackend>
			<version>1.1.2</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <!--<configure_url>extendware_ewcachebackend/adminhtml_config/index</configure_url>-->
            </extendware>
		</Extendware_EWCacheBackend>
	</modules>
	<admin>
        <routers>
			<extendware_ewcachebackend>
				<use>admin</use>
				<args>
					<module>Extendware_EWCacheBackend</module>
					<frontName>extendware_ewcachebackend</frontName>
				</args>
			</extendware_ewcachebackend>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWCacheBackend>
					<files>
						<default>extendware/Extendware_EWCacheBackend.csv</default>
					</files>
				</Extendware_EWCacheBackend>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcachebackend>
					<file>extendware/ewcachebackend.xml</file>
				</ewcachebackend>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWCacheBackend>
					<files>
						<default>extendware/Extendware_EWCacheBackend.csv</default>
					</files>
				</Extendware_EWCacheBackend>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcachebackend>
					<file>extendware/ewcachebackend.xml</file>
				</ewcachebackend>
			</updates>
		</layout>
		<routers>
			<ewcachebackend>
				<use>standard</use>
				<args>
					<module>Extendware_EWCacheBackend</module>
					<frontName>ewcachebackend</frontName>
				</args>
			</ewcachebackend>
        </routers>
    </frontend>
	<global>
		<models>
			<ewcachebackend>
				<class>Extendware_EWCacheBackend_Model</class>
				<resourceModel>ewcachebackend_mysql4</resourceModel>
			</ewcachebackend>
			<ewcachebackend_mysql4>
                <class>Extendware_EWCacheBackend_Model_Mysql4</class>
                <entities/>
            </ewcachebackend_mysql4>
		</models>
		<blocks>
			<ewcachebackend>
                <class>Extendware_EWCacheBackend_Block</class>
            </ewcachebackend>
		</blocks>
		<helpers>
			<ewcachebackend>
				<class>Extendware_EWCacheBackend_Helper</class>
			</ewcachebackend>
		</helpers>
		<resources>
			<ewcachebackend_setup>
				<setup>
					<module>Extendware_EWCacheBackend</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewcachebackend_setup>
			<ewcachebackend_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewcachebackend_write>
            <ewcachebackend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewcachebackend_read>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default></default>
	<extendware>
		<override>
			<model>
           		<mage_core_cache_ewcore_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Model_Cache</class></search>
           			<replace>
           				<class>Extendware_EWCacheBackend_Model_Override_Mage_Core_Cache</class>
            			<order>100</order>
           			</replace>
           		</mage_core_cache_ewcore_override>
           	</model>
		</override>
	</extendware>
</config>
