<?xml version="1.0"?>
<config>
	<modules>
        <Extendware_EWMinify>
        	<extendware>
	        	<settings>
	        		<scopes>
		        		<main>
							<tabs>
						        <main translate="label comment ewhelp" module="ewminify">
						            <label>Minify</label>
						            <sort_order>100</sort_order>
						        </main>
						    </tabs>
							<sections>
								<ewminify translate="label comment ewhelp" module="ewminify">
									<class>separator-top</class>
									<label>General</label>
									<tab>main</tab>
									<frontend_type>text</frontend_type>
									<sort_order>100</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<groups>
										<general translate="label comment ewhelp" module="ewminify">
						                    <label>General</label>
						                    <frontend_type>text</frontend_type>
						                    <sort_order>10</sort_order>
						                    <show_in_default>1</show_in_default>
						                    <show_in_website>1</show_in_website>
						                    <show_in_store>1</show_in_store>
						                    <fields>
												<java_path translate="label comment ewhelp">
						                            <label>Java Path</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>1</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>0</show_in_website>
						                            <show_in_store>0</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_length</model>
						                            		<options>
						                            			<min_length>1</min_length>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <comment><![CDATA[The location of java. Usually "java" or "/usr/bin/java" or "/usr/java/bin/java"]]></comment>
						                        </java_path>
						                        <php_path translate="label comment ewhelp">
						                            <label>PHP Path</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>2</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>0</show_in_website>
						                            <show_in_store>0</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_length</model>
						                            		<options>
						                            			<min_length>1</min_length>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <comment><![CDATA[The location to PHP. This is almost always "php" or "/usr/bin/php"]]></comment>
						                        </php_path>
						                        <execution_mode translate="label comment ewhelp">
						                            <label>Execution Mode</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewminify/adminhtml_data_option_executionmode</source_model>
						                            <sort_order>3</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Only pick external if you are hitting a memory limit.]]></comment>
						                        	<ewhelp><![CDATA[This applies to PHP minifiers only. External mode will invoke a shell script to minify the data. Internal mode will use the current PHP process. External is always used for Java minifiers.]]></ewhelp>
						                        </execution_mode>
						                        <filemtime_enabled translate="label comment ewhelp">
						                            <label>Modified Time Check</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>4</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Disabling this is faster, but will require you to flush the cache if changing js / css.]]></comment>
						                        </filemtime_enabled>
						                        <rewrites_enabled translate="label comment ewhelp">
						                            <label>URL Rewriting</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>5</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Enable / disable rewriting of the urls to the JS / CSS. <b>Note:</b> URL rewriting is required for pre-compressing js / css.]]></comment>
						                            <ewhelp><![CDATA[Disable this if you are NOT using apache. This does not affect your other rewrites.]]></ewhelp>
						                        	<ewoverrides>
														<hide>
							                        		<ifhelper>ewcore/config/isWhiteLabeled</ifhelper>
							                        		<ifvalue>1</ifvalue>
							                        		<field_option>
							                        			<show_in_default>0</show_in_default>
																<show_in_website>0</show_in_website>
																<show_in_store>0</show_in_store>
							                        		</field_option>
							                        	</hide>
						                        	</ewoverrides>
						                        </rewrites_enabled>
						                    </fields>
						                </general>
									</groups>
								</ewminify>
								<ewminify_files translate="label comment ewhelp" module="ewminify">
									<class>separator-top</class>
									<label>Files</label>
									<tab>main</tab>
									<frontend_type>text</frontend_type>
									<sort_order>100</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<groups>
										<frontend_files translate="label comment ewhelp" module="ewminify">
						                    <label>Frontend Files</label>
						                    <frontend_type>text</frontend_type>
						                    <sort_order>20</sort_order>
						                    <show_in_default>1</show_in_default>
						                    <show_in_website>1</show_in_website>
						                    <show_in_store>1</show_in_store>
						                    <fields>
												<merge_js translate="label comment ewhelp">
						                            <label>Merge Js</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewminify/adminhtml_data_option_js_merged</source_model>
						                            <sort_order>1</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Choosing always or automatic or never is highly recommended]]></comment>
						                        </merge_js>
						                        <merge_css translate="label comment ewhelp">
						                            <label>Merge Css</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewminify/adminhtml_data_option_css_merged</source_model>
						                            <sort_order>20</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Choosing always or automatic or never is highly recommended]]></comment>
						                        </merge_css>
						                        <js_compressor translate="label comment ewhelp">
						                            <label>JS Minifier</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewminify/adminhtml_data_option_js_filecompressor</source_model>
						                            <sort_order>30</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Closure Compiler is recommended.]]></comment>
						                            <ewhelp><![CDATA[If you experience javascript errors, then try a different compressor. <b>Note:</b> You must check your javascript URLs after changing this to ensure it is actually minifying. Depending on your php / java path, execution mode, server environment, settings may need to be tweaked for minification to occur.]]></ewhelp>
						                        </js_compressor>
						                        <css_compressor translate="label comment ewhelp">
						                            <label>CSS Minifier</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewminify/adminhtml_data_option_css_filecompressor</source_model>
						                            <sort_order>40</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[If you have java installed, YUICompressor is recommended otherwise CSS Compressor]]></comment>
						                            <ewhelp><![CDATA[If you experience css issues, then try a different compressor. <b>Note:</b> You must check your css URLs after changing this to ensure it is actually minifying. Depending on your php / java path, execution mode, server environment, settings may need to be tweaked for minification to occur.]]></ewhelp>
						                        </css_compressor>
						                        <js_files translate="label comment ewhelp">
						                            <label>Non-standard JS Files</label>
						                            <frontend_model>ewminify/adminhtml_config_form_field_jsfiles</frontend_model>
                            						<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
						                            <sort_order>41</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>0</show_in_website>
						                            <show_in_store>0</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_serialized_array</model>
						                            		<options>
						                            			<splittable_min_items>2</splittable_min_items>
						                            			<splittable_max_items>2</splittable_max_items>
						                            			<splittable_item_types>file_relative|string</splittable_item_types>
						                            			<splittable_item_min_length>1</splittable_item_min_length>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <comment><![CDATA[Sometimes themes do not follow Magento standards and directly output js files. You can input the relative path of the file to your store (ex: /js/myjs.js). <b>Note:</b> This will directly minify the file, so you should backup the file first. Setting minifier to none will attempt to restore original file. You must click the <i>Minify Non-standard</i> button to minify non-standard files.]]></comment>
						                            <ewhelper><![CDATA[The file must be writeable for this to work and files must be allowed to be created in the directory as we will attempt to create a backup of the file]]></ewhelper>
						                        </js_files>
						                        <css_files translate="label comment ewhelp">
						                            <label>Non-standard CSS Files</label>
						                            <frontend_model>ewminify/adminhtml_config_form_field_cssfiles</frontend_model>
                            						<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
						                            <sort_order>42</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>0</show_in_website>
						                            <show_in_store>0</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_serialized_array</model>
						                            		<options>
						                            			<splittable_min_items>2</splittable_min_items>
						                            			<splittable_max_items>2</splittable_max_items>
						                            			<splittable_item_types>file_relative|string</splittable_item_types>
						                            			<splittable_item_min_length>1</splittable_item_min_length>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <comment><![CDATA[Sometimes themes do not follow Magento standards and directly output css files. You can input the relative path of the file to your store (ex: /js/myjs.css). <b>Note:</b> This will directly minify the file, so you should backup the file first. Setting minifier to none will attempt to restore original file. You must click the <i>Minify Non-standard</i> button to minify non-standard files.]]></comment>
						                            <ewhelper><![CDATA[The file must be writeable for this to work and files must be allowed to be created in the directory as we will attempt to create a backup of the file]]></ewhelper>
						                        </css_files>
						                        <defer_js_enabled translate="label comment ewhelp">
						                            <label>Defer Js</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>43</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[<u>Only enable if you know what you are doing!</u> This feature is experimental and not supported. <b style="color: red">Warning: </b>Deferring requires changing javascript to be made compatible. View <a href="http://www.extendware.com/"><b>Extendware extensions</b></a> which are compatible with deferment and we can also resolve javascript incompatabilities with <a href="http://www.extendware.com/services/magento-custom-development.html">custom development</a>. <u>You must flush js / css cache after changing this setting</u>.]]></comment>
						                        </defer_js_enabled>
						                        <before_js translate="label comment ewhelp">
						                            <label>Before Javascript</label>
						                            <frontend_type>textarea</frontend_type>
						                            <sort_order>44</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Any javascript inputted here will be executed before the deferred javascript is loaded.]]></comment>
						                        	<depends><defer_js_enabled>1</defer_js_enabled></depends>
						                        </before_js>
						                        <after_js translate="label comment ewhelp">
						                            <label>After Javascript</label>
						                            <frontend_type>textarea</frontend_type>
						                            <sort_order>45</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Any javascript inputted here will be executed after the deferred javascript is loaded.]]></comment>
						                        	<depends><defer_js_enabled>1</defer_js_enabled></depends>
						                        </after_js>
						                        <regexp_filters translate="label comment ewhelp">
						                            <label>Url Filters</label>
						                            <frontend_model>ewminify/adminhtml_config_form_field_regexpfilters</frontend_model>
                            						<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
						                            <sort_order>50</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_serialized_array</model>
						                            		<options>
						                            			<splittable_min_items>1</splittable_min_items>
						                            			<splittable_max_items>1</splittable_max_items>
						                            			<splittable_item_types>regexp</splittable_item_types>
						                            			<splittable_item_min_length>1</splittable_item_min_length>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <comment><![CDATA[If the request URI matches one of these regexps then javascript / css html will not be minified / merged]]></comment>
						                        </regexp_filters>
						                        <file_merge_exceptions translate="label comment ewhelp">
						                            <label>Ignore Merging</label>
						                            <frontend_model>ewminify/adminhtml_config_form_field_files</frontend_model>
                            						<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
						                            <sort_order>60</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>0</show_in_website>
						                            <show_in_store>0</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_serialized_array</model>
						                            		<options>
						                            			<splittable_min_items>1</splittable_min_items>
						                            			<splittable_max_items>1</splittable_max_items>
						                            			<splittable_item_types>string</splittable_item_types>
						                            			<splittable_item_min_length>1</splittable_item_min_length>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <comment><![CDATA[Input a string and if the file matches it then it will not be merged even if merging always is enabled. Useful for files that cannot be merged well. Example: prototype.js]]></comment>
						                        </file_merge_exceptions>
						                    </fields>
						                </frontend_files>
						                <frontend_blocks translate="label comment ewhelp" module="ewminify">
						                    <label>Frontend Page</label>
						                    <frontend_type>text</frontend_type>
						                    <sort_order>30</sort_order>
						                    <show_in_default>1</show_in_default>
						                    <show_in_website>1</show_in_website>
						                    <show_in_store>1</show_in_store>
						                    <fields>
												<enabled translate="label comment ewhelp">
						                            <label>HTML Minify</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>1</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Test all important site functions after enabling this as themes / extensions that are not compliant with Magento coding standards will give errors.]]></comment>
						                            <ewhelp><![CDATA[HTML minification will reduce the size of your HTML page by 4-5% in most cases. If you use our Full Page Cache solution, then this means more pages in the memory cache. <b>Note: </b> Note all themes are compatible. Test after enabling, try different modes, and disable if not compatible with your theme.]]></ewhelp>
						                        </enabled>
						                        <mode translate="label comment ewhelp">
						                            <label>Mode</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewminify/adminhtml_data_option_html_mode</source_model>
						                            <sort_order>2</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <depends><enabled>1</enabled></depends>
						                            <comment><![CDATA[This determins how the HTML is minified.]]></comment>
						                            <ewhelp><![CDATA[Template mode will minify your template files. It makes pages about 4-5% smaller. For well written themes, it should not cause any issues. Page mode will attempt to minify the outputted page and it does it on every requests. It results in 10-15% improvement, but requires processing on every page.]]></ewhelp>
						                        </mode>
						                        <js_compressor translate="label comment ewhelp">
						                            <label>JS Minifier</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewminify/adminhtml_data_option_js_blockcompressor</source_model>
						                            <sort_order>3</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[If you have java installed, Closure Compiler is recommended otherwise JSMin]]></comment>
						                        	<ewhelp><![CDATA[This will minify inline javascript]]></ewhelp>
						                        	<depends><enabled>1</enabled><mode separator=",">template,both</mode></depends>
						                        </js_compressor>
						                        <css_compressor translate="label comment ewhelp">
						                            <label>CSS Minifier</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewminify/adminhtml_data_option_css_blockcompressor</source_model>
						                            <sort_order>4</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[If you have java installed, YUICompressor is recommended otherwise CSS Compressor]]></comment>
						                        	<ewhelp><![CDATA[This will minify inline CSS]]></ewhelp>
						                        	<depends><enabled>1</enabled><mode separator=",">template,both</mode></depends>
						                        </css_compressor>
						                        <regexp_filters translate="label comment ewhelp">
						                            <label>Template Filters</label>
						                            <frontend_model>ewminify/adminhtml_config_form_field_regexpfilters</frontend_model>
                            						<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
						                            <sort_order>10</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_serialized_array</model>
						                            		<options>
						                            			<splittable_min_items>1</splittable_min_items>
						                            			<splittable_max_items>1</splittable_max_items>
						                            			<splittable_item_types>regexp</splittable_item_types>
						                            			<splittable_item_min_length>1</splittable_item_min_length>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <depends><enabled>1</enabled><mode separator=",">template,both</mode></depends>
						                            <comment><![CDATA[If the templatefile paths matches one of these regexps then no template optimization will be done]]></comment>
						                        </regexp_filters>
						                    </fields>
						                </frontend_blocks>
									</groups>
								</ewminify_files>
								<ewminify_advanced translate="label comment ewhelp" module="ewminify">
									<class>separator-top</class>
									<label>Advanced</label>
									<tab>main</tab>
									<frontend_type>text</frontend_type>
									<sort_order>400</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<groups>
						                <hostname translate="label comment ewhelp" module="ewminify">
						                    <label>Hostnames</label>
						                    <frontend_type>text</frontend_type>
						                    <sort_order>10</sort_order>
						                    <show_in_default>1</show_in_default>
						                    <show_in_website>1</show_in_website>
						                    <show_in_store>1</show_in_store>
						                    <comment><![CDATA[Having different hostnames for different resources can speed up downloads. <u>Only change these values if you are know exactly what you are doing.</u>]]></comment>
						                    <fields>
						                    	<header_resource translate="label comment ewhelp">
						                            <label>Header Resources</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>10</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Leave blank to use the default hostname. This value must be valid or the resource will not load. Rewrites must be disabled for this to work.]]></comment>
						                            <ewhelp><![CDATA[<b>Warning:</b> You must enter a valid hostname. The hostname is the bolded part of the following URL: http://<b>www.example.com</b>/path/index.html]]></ewhelp>
						                        </header_resource>
						                        <css_image translate="label comment ewhelp">
						                            <label>Css Images</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>20</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Leave blank to use the default hostname. This value must be valid or the resource will not load. <b>Note: </b>You must flush site optimizer cache after changing this value.]]></comment>
						                            <ewhelp><![CDATA[<b>Warning:</b> You must enter a valid hostname. The hostname is the bolded part of the following URL: http://<b>www.example.com</b>/path/index.html]]></ewhelp>
						                        </css_image>
						                    </fields>
						                </hostname>
						                <custom_path translate="label comment ewhelp" module="ewminify">
						                    <label>Custom Paths</label>
						                    <frontend_type>text</frontend_type>
						                    <sort_order>20</sort_order>
						                    <show_in_default>1</show_in_default>
						                    <show_in_website>1</show_in_website>
						                    <show_in_store>1</show_in_store>
						                    <comment><![CDATA[<u>Only change these values if you are know exactly what you are doing.</u>]]></comment>
						                    <fields>
						                    	<js translate="label comment ewhelp">
						                            <label>JS Custom Path</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>10</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Leave blank to use the default js path. <b>Warning: </b> Only change this if you have technical experience]]></comment>
						                            <ewhelp><![CDATA[<b>Warning:</b> You must enter a valid path relative to your Magento directory. For example, [Magento]/js would require entering "js"]]></ewhelp>
						                        </js>
						                    </fields>
						                </custom_path>
									</groups>
								</ewminify_advanced>
							</sections>
						</main>
					</scopes>
				</settings>
			</extendware>
		</Extendware_EWMinify>
	</modules>
</config>
