<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Conlabz_Rpsc>
            <version>0.5.0</version>
        </Conlabz_Rpsc>
    </modules>
    <global>
        <blocks>
            <rpsc>
                <class>Conlabz_Rpsc_Block</class>
            </rpsc>
        </blocks>
        <helpers>
            <rpsc>
                <class>Conlabz_Rpsc_Helper</class>
            </rpsc>
        </helpers>
        <models>
            <rpsc>
                <class>Conlabz_Rpsc_Model</class>
            </rpsc>
        </models>
        <resources>
            <rpsc_setup>
                <setup>
                    <module>Conlabz_Rpsc</module>
                    <class>Conlabz_Rpsc_Model_Resource_Eav_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rpsc_setup>
            <rpsc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rpsc_write>
            <rpsc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rpsc_read>
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <rpsc_countries/>
                        <rpsc_access_control/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <frontend>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <remove_cart_items>
                        <type>singleton</type>
                        <class>rpsc/observer</class>
                        <method>removeItemsFromCart</method>
                    </remove_cart_items>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <controller_action_predispatch_checkout_onepage_savePayment>
                <observers>
                    <remove_cart_items>
                        <type>singleton</type>
                        <class>rpsc/observer</class>
                        <method>removeItemsFromCart</method>
                    </remove_cart_items>
                </observers>
            </controller_action_predispatch_checkout_onepage_savePayment>
            <core_block_abstract_to_html_after>
                <observers>
                    <rpsc_block_to_html_after>
                        <type>singleton</type>
                        <class>rpsc/observer</class>
                        <method>addRemoveItemsInfo</method>
                    </rpsc_block_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <Conlabz_Rpsc>
                    <files>
                        <default>Conlabz_Rpsc.csv</default>
                    </files>
                </Conlabz_Rpsc>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Conlabz_Rpsc>
                    <files>
                        <default>Conlabz_Rpsc.csv</default>
                    </files>
                </Conlabz_Rpsc>
            </modules>
        </translate>
    </adminhtml>
</config>
