<?xml version="1.0"?>
<config>
    <modules>
        <Extendware_EWCore>
            <version>2.8.1</version>
            <extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>adminhtml/ewcore_config/index</configure_url>
            </extendware>
        </Extendware_EWCore>
    </modules>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<extendware_ewcore after="Mage_Adminhtml">Extendware_EWCore</extendware_ewcore>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
        <translate>
			<modules>
				<Extendware_EWCore>
					<files>
						<default>extendware/Extendware_EWCore.csv</default>
					</files>
				</Extendware_EWCore>
			</modules>
		</translate>
        <layout>
			<updates>
				<ewcore>
					<file>extendware/ewcore.xml</file>
				</ewcore>
			</updates>
		</layout>
		<routers></routers>
    </adminhtml>  
    <frontend>
		<translate>
			<modules>
				<Extendware_EWCore>
					<files>
						<default>extendware/Extendware_EWCore.csv</default>
					</files>
				</Extendware_EWCore>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcore>
					<file>extendware/ewcore.xml</file>
				</ewcore>
			</updates>
		</layout>
		<routers></routers>
    </frontend>
    <global>
        <models>
            <ewcore>
                <class>Extendware_EWCore_Model</class>
                <resourceModel>ewcore_mysql4</resourceModel>
            </ewcore>
            <ewcore_mysql4>
                <class>Extendware_EWCore_Model_Mysql4</class>
                <entities>
                    <module_summary>
                        <table>ewcore_module_summary</table>
                    </module_summary>
                    <system_message>
                        <table>ewcore_system_message</table>
                    </system_message>
                    <config_data>
                        <table>ewcore_config_data</table>
                    </config_data>
                    <message>
                        <table>ewcore_message</table>
                    </message>
                </entities>
            </ewcore_mysql4>
        </models>
        <blocks>
            <ewcore>
                <class>Extendware_EWCore_Block</class>
            </ewcore>
        </blocks>
        <helpers>
            <ewcore>
                <class>Extendware_EWCore_Helper</class>
            </ewcore>
        </helpers>
        <resources>
            <ewcore_setup>
                <setup>
                    <module>Extendware_EWCore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ewcore_setup>
            <ewcore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewcore_write>
            <ewcore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewcore_read>
        </resources>
        <events>
        	<core_collection_abstract_load_before>
                <observers>
                    <extendware_ewcore>
                        <class>ewcore/observer</class>
                        <method>coreCollectionAbstractLoadBefore</method>
                    </extendware_ewcore>
                </observers>
            </core_collection_abstract_load_before>
        </events>
        <template></template>
    </global>
    <input></input>
    <crontab>
        <jobs>
            <ewcore_updateLicensesAndSerials>
                <!-- every 2 hours - no need to raise this -->
                <schedule><cron_expr>17 */2 * * *</cron_expr></schedule>
                <run><model>ewcore/observer::updateLicensesAndSerials</model></run>
            </ewcore_updateLicensesAndSerials>
            <ewcore_cleanupSystemMessages>
                <!-- each 24 hours at 3:47 am -->
                <schedule><cron_expr>47 3 * * *</cron_expr></schedule>
                <run><model>ewcore/observer::cleanupSystemMessages</model></run>
            </ewcore_cleanupSystemMessages>
            <ewcore_disableIllegalExtensions>
                <!-- this scary sounding function helps protect your store -->
                <!-- an illegally ran extension wont actually run. it will just exit -->
                <!-- making your store non-functional. this helps prevent that -->
                <schedule><cron_expr>*/30 * * * *</cron_expr></schedule>
                <run><model>ewcore/observer::disableIllegalExtensions</model></run>
            </ewcore_disableIllegalExtensions>
            <ewcore_refreshModules>
                <!-- every 12 hours - no need to raise this -->
                <schedule><cron_expr>36 */12 * * *</cron_expr></schedule>
                <run><model>ewcore/observer::refreshModules</model></run>
            </ewcore_refreshModules>
        </jobs> 
    </crontab>
    <default>
    	<ewcore>
            <log_viewer>
                <max_collection_size>100</max_collection_size>
            </log_viewer>  
            <system_messages>
                <max_num>1000</max_num>
            </system_messages>
            <appearance>
            	<user_guide_button>1</user_guide_button>
            	<highlight_admin_menu>1</highlight_admin_menu>
            	<admin_menu_location></admin_menu_location>
            	<default_config_help_trigger_mode>hover</default_config_help_trigger_mode>
            	<default_form_help_trigger_mode>hover</default_form_help_trigger_mode>
            </appearance>
        </ewcore>
        <ewcore_messaging>
        	<license_expiring>
                <enabled>1</enabled>
            </license_expiring>
            <license_failed_update>
                <enabled>1</enabled>
            </license_failed_update>
            <disabled_extensions>
                <enabled>1</enabled>
                <min_num>1</min_num>
            </disabled_extensions>
            <messages>
            	<recommendations_enabled>1</recommendations_enabled>
            </messages>
            <misc>
            	<message_upating_enabled>1</message_upating_enabled>
            	<writeable_enabled>1</writeable_enabled>
            	<config_help_notice_threshold>3</config_help_notice_threshold>
            	<header_recommendations_enabled>1</header_recommendations_enabled>
            </misc>
        </ewcore_messaging>
        <ewcore_licensing>
        	<serial>
        		<verify_integrity>never</verify_integrity>
        	</serial>
        	<license>
        		<verify_integrity>never</verify_integrity>
        		<ignore_staging_websites>0</ignore_staging_websites>
        	</license>
        	<encoder_license>
        		<verify_integrity>never</verify_integrity>
        		<verify_file_path>1</verify_file_path>
        	</encoder_license>
            <violation_disabling>
                <enabled>1</enabled>
            </violation_disabling>
            <preemptive_expiration_disabling>
                <enabled>1</enabled>
                <num_hours>16</num_hours>
            </preemptive_expiration_disabling>
            <automatic_license_updating>
            	<cronjob_enabled>1</cronjob_enabled>
            	<admin_login_enabled>1</admin_login_enabled>
            	<database_fallback_enabled>1</database_fallback_enabled>
            </automatic_license_updating>
        </ewcore_licensing>
        <ewcore_developer>
        	<general>
        		<show_logs_enabled>0</show_logs_enabled>
        		<show_reports_enabled>1</show_reports_enabled>
        	</general>
            <verbose_exception_log>
                <enabled>0</enabled>
            </verbose_exception_log>  
            <system_exception_log>
                <enabled>0</enabled>
            </system_exception_log> 
            <misc>
            	<delete_efficiently>0</delete_efficiently>
            	<disable_unknown_compiler>1</disable_unknown_compiler>
            </misc>
        </ewcore_developer>
    </default>
    <extendware>
		<override>
			<model>
				<mage_compiler_process_ewcore_override>
					<mode>extendware</mode>
           			<search><class>Mage_Compiler_Model_Process</class></search>
           			<replace>
           				<class>Extendware_EWCore_Model_Override_Mage_Compiler_Process</class>
            			<order>0</order>
           			</replace>
           		</mage_compiler_process_ewcore_override>
           		<!-- remove ones with extension_is_installed soon 09/13/2014 -->
           		<mage_core_layout_ewcore_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Model_Layout</class></search>
           			<replace>
           				<class>Extendware_EWCore_Model_Override_Mage_Core_Layout</class>
            			<order>0</order>
           			</replace>
           			<conditions>
           				<extension_exists>
	           				<type>simple</type>
	           				<name>extension_is_installed</name>
	           				<extension>Extendware_EWQuickView|Extendware_EWCart</extension>
           					<value>1</value>
           				</extension_exists>
           			</conditions>
           		</mage_core_layout_ewcore_override>
           		<mage_core_layout_update_ewcore_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Model_Layout_Update</class></search>
           			<replace>
           				<class>Extendware_EWCore_Model_Override_Mage_Core_Layout_Update</class>
            			<order>0</order>
           			</replace>
           			<conditions>
           				<extension_exists>
	           				<type>simple</type>
	           				<name>extension_is_installed</name>
	           				<extension>Extendware_EWQuickView|Extendware_EWLayeredNav|Extendware_EWCart|Extendware_EWAutoTranslate|Extendware_EWPageCache|Extendware_EWSpamProtection|Extendware_EWPRibbon</extension>
           					<value>1</value>
           				</extension_exists>
           			</conditions>
           		</mage_core_layout_update_ewcore_override>
           		<mage_core_exception_ewcore_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Exception</class></search>
           			<replace>
           				<class>Extendware_EWCore_Model_Override_Mage_Core_Exception</class>
            			<order>0</order>
           			</replace>
           			<!-- <conditions>
           				<function_exists>
	           				<type>simple</type>
	           				<name>function_exists</name>
	           				<function>__extendwareErrorHandler</function>
           					<value>1</value>
           				</function_exists>
           			</conditions>  -->
           		</mage_core_exception_ewcore_override>
           	</model>
           	<block>
           		<mage_page_head_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Page_Block_Html_Head</class></search>
					<replace>
						<class>Extendware_EWCore_Block_Override_Mage_Page_Html_Head</class>
						<order>0</order>
					</replace>
					<conditions>
           				<extension_exists>
	           				<type>simple</type>
	           				<name>extension_is_installed</name>
	           				<extension>Extendware_EWMinify|Extendware_EWQuickView|Extendware_EWLayeredNav|Extendware_EWCartReminder|Extendware_EWCookieMessage|Extendware_EWCart|Extendware_EWAutoTranslate|Extendware_EWSearchSuggest|Extendware_EWPRibbon</extension>
           					<value>1</value>
           				</extension_exists>
           			</conditions>
				</mage_page_head_ewcore_override>
				<mage_adminhtml_page_menu_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Adminhtml_Block_Page_Menu</class></search>
					<replace>
						<class>Extendware_EWCore_Block_Override_Mage_Adminhtml_Page_Menu</class>
						<order>0</order>
					</replace>
				</mage_adminhtml_page_menu_ewcore_override>
				<mage_adminhtml_notification_window_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Adminhtml_Block_Notification_Window</class></search>
					<replace>
						<class>Extendware_EWCore_Block_Override_Mage_Adminhtml_Notification_Window</class>
						<order>0</order>
					</replace>
				</mage_adminhtml_notification_window_ewcore_override>
           	</block>
           	<controller>
           		<mage_core_controller_varient_router_standard_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Core_Controller_Varien_Router_Standard</class></search>
					<replace>
						<class>Extendware_EWCore_Controller_Override_Mage_Core_Varien_Router_Standard</class>
						<order>0</order>
					</replace>
					<conditions>
           				<extension_exists>
	           				<type>simple</type>
	           				<name>extension_is_installed</name>
	           				<extension>Extendware_EWAuthenticator|Extendware_EWGADashboard|EWPageCache|EWSpamProtection</extension>
           					<value>1</value>
           				</extension_exists>
           			</conditions>
				</mage_core_controller_varient_router_standard_ewcore_override>
			</controller>
		</override>
	</extendware>
</config>
