# ensure we have access
Order allow,deny
Allow from all

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
	Header set Cache-Control "public, max-age=31536000"
</IfModule>

<IfModule mod_expires.c>
	<IfModule mod_headers.c>
		# if the other modules are enabled, there really isn't a need for an ETag
		# it will just bloat the response headers
		FileETag None
	</IfModule>
</IfModule>