<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWEntityIncrement>
			<version>2.2.8</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewentityincrement/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWEntityIncrement>
	</modules>
	<admin>
        <routers>
			<extendware_ewentityincrement>
				<use>admin</use>
				<args>
					<module>Extendware_EWEntityIncrement</module>
					<frontName>extendware_ewentityincrement</frontName>
				</args>
			</extendware_ewentityincrement>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWEntityIncrement>
					<files>
						<default>extendware/Extendware_EWEntityIncrement.csv</default>
					</files>
				</Extendware_EWEntityIncrement>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewentityincrement>
					<file>extendware/ewentityincrement.xml</file>
				</ewentityincrement>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate></translate>
		<layout></layout>
		<routers></routers>
    </frontend>
	<global>
		<models>
			<ewentityincrement>
				<class>Extendware_EWEntityIncrement_Model</class>
			</ewentityincrement>
		</models>
		<blocks>
			<ewentityincrement>
                <class>Extendware_EWEntityIncrement_Block</class>
            </ewentityincrement>
			<adminhtml>
				<rewrite>
					<sales_invoice_grid>Extendware_EWEntityIncrement_Block_Rewrite_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
					<sales_shipment_grid>Extendware_EWEntityIncrement_Block_Rewrite_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
					<sales_creditmemo_grid>Extendware_EWEntityIncrement_Block_Rewrite_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<ewentityincrement>
				<class>Extendware_EWEntityIncrement_Helper</class>
			</ewentityincrement>
		</helpers>
		<resources>
            <ewentityincrement_setup>
                <setup>
                    <module>Extendware_EWEntityIncrement</module>
                </setup>
            </ewentityincrement_setup>
        </resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewentityincrement>
			<order>
				<prefix></prefix>
				<date_prefix>none</date_prefix>
				<date_prefix_reset_enabled>1</date_prefix_reset_enabled>
				<increment_amount>1</increment_amount>
				<starting_number>100000</starting_number>
				<padding_length>1</padding_length>
			</order>
			<invoice>
				<prefix></prefix>
				<date_prefix>none</date_prefix>
				<date_prefix_reset_enabled>1</date_prefix_reset_enabled>
				<increment_amount>1</increment_amount>
				<starting_number>100000</starting_number>
				<padding_length>1</padding_length>
			</invoice>
			<shipment>
				<prefix></prefix>
				<date_prefix>none</date_prefix>
				<date_prefix_reset_enabled>1</date_prefix_reset_enabled>
				<increment_amount>1</increment_amount>
				<starting_number>100000</starting_number>
				<padding_length>1</padding_length>
			</shipment>
			<credit_memo>
				<prefix></prefix>
				<date_prefix>none</date_prefix>
				<date_prefix_reset_enabled>1</date_prefix_reset_enabled>
				<increment_amount>1</increment_amount>
				<starting_number>100000</starting_number>
				<padding_length>1</padding_length>
			</credit_memo>
		</ewentityincrement>
		<ewentityincrement_advanced>
			<general>
				<date_source>locale</date_source>
			</general>
		</ewentityincrement_advanced>
	</default>
	<extendware>
		<override>
			<model>
				<mage_eav_entity_type_ewentityincrement_override>
					<mode>extendware</mode>
           			<search><class>Mage_Eav_Model_Entity_Type</class></search>
           			<replace>
           				<class>Extendware_EWEntityIncrement_Model_Override_Mage_Eav_Entity_Type</class>
            			<order>100</order>
           			</replace>
           		</mage_eav_entity_type_ewentityincrement_override>
           	</model>
           	<model>
				<mage_sales_resource_quote_ewentityincrement_override>
					<mode>extendware</mode>
           			<search><class>Mage_Sales_Model_Resource_Quote</class></search>
           			<replace>
           				<class>Extendware_EWEntityIncrement_Model_Override_Mage_Sales_Resource_Quote</class>
            			<order>100</order>
           			</replace>
           		</mage_sales_resource_quote_ewentityincrement_override>
           	</model>
		</override>
	</extendware>
</config>
