<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWCrawler>
			<version>1.6.2</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewcrawler/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWCrawler>
	</modules>
	<admin>
        <routers>
			<extendware_ewcrawler>
				<use>admin</use>
				<args>
					<module>Extendware_EWCrawler</module>
					<frontName>extendware_ewcrawler</frontName>
				</args>
			</extendware_ewcrawler>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWCrawler>
					<files>
						<default>extendware/Extendware_EWCrawler.csv</default>
					</files>
				</Extendware_EWCrawler>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcrawler>
					<file>extendware/ewcrawler.xml</file>
				</ewcrawler>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate></translate>
		<layout></layout>
		<routers></routers>
    </frontend>
	<global>
		<models>
			<ewcrawler>
				<class>Extendware_EWCrawler_Model</class>
				<resourceModel>ewcrawler_mysql4</resourceModel>
			</ewcrawler>
			<ewcrawler_mysql4>
                <class>Extendware_EWCrawler_Model_Mysql4</class>
                <entities>
                    <job>
                        <table>ewcrawler_job</table>
                    </job>
                    <url>
                        <table>ewcrawler_url</table>
                    </url>
                </entities>
            </ewcrawler_mysql4>
		</models>
		<blocks>
			<ewcrawler>
                <class>Extendware_EWCrawler_Block</class>
            </ewcrawler>
		</blocks>
		<helpers>
			<ewcrawler>
				<class>Extendware_EWCrawler_Helper</class>
			</ewcrawler>
			<catalogsearch>
                <rewrite>
                    <data>Extendware_EWCrawler_Helper_Rewrite_CatalogSearch_Data</data>
                </rewrite>
            </catalogsearch>
		</helpers>
		<resources>
			<ewcrawler_setup>
				<setup>
					<module>Extendware_EWCrawler</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewcrawler_setup>
		</resources>
		<events>
			<ewcrawler_before_begin_crawl>
                <observers>
                    <extendware_ewcrawler>
                        <class>ewcrawler/observer_event</class>
                        <method>beforeBeginCrawl</method>
                    </extendware_ewcrawler>
                </observers>
            </ewcrawler_before_begin_crawl>
            <ewcrawler_add_custom_urls>
                <observers>
                    <extendware_ewcrawler>
                        <class>ewcrawler/observer_event</class>
                        <method>addCustomUrls</method>
                    </extendware_ewcrawler>
                </observers>
            </ewcrawler_add_custom_urls>
		</events>
		<template></template>
		<ignore_user_agents>
            <ewcrawler1>EWCrawler</ewcrawler1>
        </ignore_user_agents>
	</global>
	<input></input>
	<crontab>
		<ewcrawler_cleanup>
            <!-- every 24 hours -->
            <schedule><cron_expr>19 9 * * *</cron_expr></schedule>
            <run><model>ewcrawler/observer_cronjob::cleanup</model></run>
        </ewcrawler_cleanup>
	</crontab>
	<default>
    	<ewcrawler>
            <general>
            	<enabled>1</enabled>
            	<flush_full_page_cache_enabled>0</flush_full_page_cache_enabled>
            	<flush_magento_cache_enabled>1</flush_magento_cache_enabled>
            	<refresh_pages_enabled>0</refresh_pages_enabled>
            	<crawl_delay>360</crawl_delay>
                <max_threads>1</max_threads>
                <wait_time>0</wait_time>
            </general> 
            <generated_urls>
            	<enabled>1</enabled>
            	<exclude_disabled_products_enabled>1</exclude_disabled_products_enabled>
            	<exclude_hidden_products_enabled>1</exclude_hidden_products_enabled>
            	<disabled_currencies></disabled_currencies>
            	<customer_groups>0</customer_groups>
            </generated_urls>
            <logged_urls>
            	<enabled>1</enabled>
            	<directory>/var/extendware/ewpagecache/cachedlog/</directory>
            	<max_age>60</max_age>
            	<threshold>2</threshold>
            	<num_generation_segmentations>2</num_generation_segmentations>
            	<customer_groups>0</customer_groups>
            </logged_urls>
            <advanced>
            	<request_timeout>300</request_timeout>
            	<script_filename>index.php</script_filename>
            	<verbose_log_enabled>0</verbose_log_enabled>
            	<destroy_session_enabled>1</destroy_session_enabled>
            	<close_database_connection>1</close_database_connection>
            </advanced>
        </ewcrawler>
	</default>
	<extendware></extendware>
</config>
