<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWDeferredIndexing>
			<version>1.1.1</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewdeferredindexing/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWDeferredIndexing>
	</modules>
	<admin>
        <routers>
			<extendware_ewdeferredindexing>
				<use>admin</use>
				<args>
					<module>Extendware_EWDeferredIndexing</module>
					<frontName>extendware_ewdeferredindexing</frontName>
				</args>
			</extendware_ewdeferredindexing>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWDeferredIndexing>
					<files>
						<default>extendware/Extendware_EWDeferredIndexing.csv</default>
					</files>
				</Extendware_EWDeferredIndexing>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewdeferredindexing>
					<file>extendware/ewdeferredindexing.xml</file>
				</ewdeferredindexing>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWDeferredIndexing>
					<files>
						<default>extendware/Extendware_EWDeferredIndexing.csv</default>
					</files>
				</Extendware_EWDeferredIndexing>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewdeferredindexing>
					<file>extendware/ewdeferredindexing.xml</file>
				</ewdeferredindexing>
			</updates>
		</layout>
		<routers>
			<ewdeferredindexing>
				<use>standard</use>
				<args>
					<module>Extendware_EWDeferredIndexing</module>
					<frontName>ewdeferredindexing</frontName>
				</args>
			</ewdeferredindexing>
        </routers>
    </frontend>
	<global>
		<models>
			<ewdeferredindexing>
				<class>Extendware_EWDeferredIndexing_Model</class>
				<resourceModel>ewdeferredindexing_resource</resourceModel>
			</ewdeferredindexing>
			<ewdeferredindexing_resource>
                <class>Extendware_EWDeferredIndexing_Model_Resource</class>
                <entities/>
            </ewdeferredindexing_resource>
		</models>
		<blocks>
			<ewdeferredindexing>
                <class>Extendware_EWDeferredIndexing_Block</class>
            </ewdeferredindexing>
		</blocks>
		<helpers>
			<ewdeferredindexing>
				<class>Extendware_EWDeferredIndexing_Helper</class>
			</ewdeferredindexing>
		</helpers>
		<resources>
			<ewdeferredindexing_setup>
				<setup>
					<module>Extendware_EWDeferredIndexing</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewdeferredindexing_setup>
			<ewdeferredindexing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewdeferredindexing_write>
            <ewdeferredindexing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewdeferredindexing_read>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab>
        <jobs>
            <ewdeferredindexing_generate>
                <!-- each 5 minutes -->
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>ewdeferredindexing/observer_cronjob::magentoCronjob</model></run>
            </ewdeferredindexing_generate>
        </jobs> 
    </crontab>
	<default>
		<ewdeferredindexing>
			<general>
				<full_indexing_deferrable>0</full_indexing_deferrable>
				<partial_indexing_deferrable>1</partial_indexing_deferrable>
				<reindex_order>process</reindex_order>
				<ignored_indexes></ignored_indexes>
			</general>
		</ewdeferredindexing>
		<ewdeferredindexing_developer>
			<general>
				<magento_cron_enabled>1</magento_cron_enabled>
			</general>
		</ewdeferredindexing_developer>
	</default>
	<extendware>
		<override>
			<model>
				<mage_index_process_ewdeferredindexing_override>
					<mode>extendware</mode>
           			<search><class>Mage_Index_Model_Process</class></search>
           			<replace>
           				<class>Extendware_EWDeferredIndexing_Model_Override_Mage_Index_Process</class>
            			<order>100</order>
           			</replace>
           		</mage_index_process_ewdeferredindexing_override>
           	</model>
           	<block>
				<mage_index_adminhtml_process_grid_ewdeferredindexing_override>
					<mode>extendware</mode>
           			<search><class>Mage_Index_Block_Adminhtml_Process_Grid</class></search>
           			<replace>
           				<class>Extendware_EWDeferredIndexing_Block_Override_Mage_Index_Adminhtml_Process_Grid</class>
            			<order>100</order>
           			</replace>
           		</mage_index_adminhtml_process_grid_ewdeferredindexing_override>
           	</block>
		</override>
	</extendware>
</config>
