<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWAlsoBought>
			<version>1.0.9</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewalsobought/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWAlsoBought>
	</modules>
	<admin>
        <routers>
			<extendware_ewalsobought>
				<use>admin</use>
				<args>
					<module>Extendware_EWAlsoBought</module>
					<frontName>extendware_ewalsobought</frontName>
				</args>
			</extendware_ewalsobought>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWAlsoBought>
					<files>
						<default>extendware/Extendware_EWAlsoBought.csv</default>
					</files>
				</Extendware_EWAlsoBought>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewalsobought>
					<file>extendware/ewalsobought.xml</file>
				</ewalsobought>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWAlsoBought>
					<files>
						<default>extendware/Extendware_EWAlsoBought.csv</default>
					</files>
				</Extendware_EWAlsoBought>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewalsobought>
					<file>extendware/ewalsobought.xml</file>
				</ewalsobought>
			</updates>
		</layout>
		<routers>
			<ewalsobought>
				<use>standard</use>
				<args>
					<module>Extendware_EWAlsoBought</module>
					<frontName>ewalsobought</frontName>
				</args>
			</ewalsobought>
        </routers>
    </frontend>
	<global>
		<models>
			<ewalsobought>
				<class>Extendware_EWAlsoBought_Model</class>
				<resourceModel>ewalsobought_resource</resourceModel>
			</ewalsobought>
			<ewalsobought_resource>
                <class>Extendware_EWAlsoBought_Model_Resource</class>
                <entities>
                	<log>
                        <table>ewalsobought_log</table>
                    </log>
                </entities>
            </ewalsobought_resource>
		</models>
		<blocks>
			<ewalsobought>
                <class>Extendware_EWAlsoBought_Block</class>
            </ewalsobought>
		</blocks>
		<helpers>
			<ewalsobought>
				<class>Extendware_EWAlsoBought_Helper</class>
			</ewalsobought>
		</helpers>
		<resources>
			<ewalsobought_setup>
				<setup>
					<module>Extendware_EWAlsoBought</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewalsobought_setup>
			<ewalsobought_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewalsobought_write>
            <ewalsobought_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewalsobought_read>
		</resources>
		<events>
			<sales_order_place_after>
                <observers>
                    <ewalsobought>
                        <type>singleton</type>
                        <class>ewalsobought/observer_order</class>
                        <method>salesOrderPlaceAfter</method>
                    </ewalsobought>
                </observers>
            </sales_order_place_after> 
		</events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewalsobought>
			<related>
				<enabled>1</enabled>
				<listing_mode>existing_first</listing_mode>
				<maximum_existing_products>2</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</related>
			<upsells>
				<enabled>1</enabled>
				<listing_mode>existing_first</listing_mode>
				<maximum_existing_products>2</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</upsells>
			<crosssells>
				<enabled>1</enabled>
				<listing_mode>existing_first</listing_mode>
				<maximum_existing_products>2</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</crosssells>
			<checkout_crosssells>
				<enabled>1</enabled>
				<listing_mode>existing_first</listing_mode>
				<generation_mode>hybrid</generation_mode>
				<maximum_existing_products>2</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</checkout_crosssells>
			<bought>
				<enabled>1</enabled>
				<listing_mode>replace</listing_mode>
				<maximum_existing_products>0</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</bought>
			<bought_sidebar>
				<enabled>1</enabled>
				<listing_mode>replace</listing_mode>
				<maximum_existing_products>0</maximum_existing_products>
				<existing_sort_order>default</existing_sort_order>
				<maximum_products>4</maximum_products>
				<also_sort_order>random</also_sort_order>
				<also_basket_size>10</also_basket_size>
				<in_stock_required>1</in_stock_required>
				<category_filter_mode>any</category_filter_mode>
			</bought_sidebar>
		</ewalsobought>
		<ewalsobought_advanced>
			<general>
				<maximum_visitors>1000</maximum_visitors>
				<maximum_products>50</maximum_products>
			</general>
		</ewalsobought_advanced>
	</default>
	<extendware>
		<override>
           	<block>
				<mage_catalog_product_list_crosssell_ewalsobought_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Block_Product_List_Crosssell</class></search>
           			<replace>
           				<class>Extendware_EWAlsoBought_Block_Override_Mage_Catalog_Product_List_Crosssell</class>
            			<order>100</order>
           			</replace>
           		</mage_catalog_product_list_crosssell_ewalsobought_override>
           		<mage_catalog_product_list_upsell_ewalsobought_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Block_Product_List_Upsell</class></search>
           			<replace>
           				<class>Extendware_EWAlsoBought_Block_Override_Mage_Catalog_Product_List_Upsell</class>
            			<order>100</order>
           			</replace>
           		</mage_catalog_product_list_upsell_ewalsobought_override>
           		<mage_catalog_product_list_related_ewalsobought_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Block_Product_List_Related</class></search>
           			<replace>
           				<class>Extendware_EWAlsoBought_Block_Override_Mage_Catalog_Product_List_Related</class>
            			<order>100</order>
           			</replace>
           		</mage_catalog_product_list_related_ewalsobought_override>
           		<mage_checkout_cart_crosssell_ewalsobought_override>
					<mode>extendware</mode>
           			<search><class>Mage_Checkout_Block_Cart_Crosssell</class></search>
           			<replace>
           				<class>Extendware_EWAlsoBought_Block_Override_Mage_Checkout_Cart_Crosssell</class>
            			<order>100</order>
           			</replace>
           		</mage_checkout_cart_crosssell_ewalsobought_override>
           	</block>
		</override>
	</extendware>
</config>
