<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Methods
 */
-->
<config>
    <modules>
        <Amasty_Methods>
            <version>1.1.4</version>
        </Amasty_Methods>
    </modules>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Amasty_Methods after="Mage_Adminhtml">Amasty_Methods_Adminhtml</Amasty_Methods>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <frontend>
        <translate>
            <modules>
                <Amasty_Methods>
                    <files>
                        <default>Amasty_Methods.csv</default>
                    </files>
                </Amasty_Methods>
            </modules>
        </translate>
    </frontend>
    
    <adminhtml>
        <menu>
            <system>
                <children>
                    <ammethods translate="title">
                        <title>Payment/Shipping Methods Access</title>
                        <sort_order>30</sort_order>
                        <children>
                            <ammethods_payment translate="title">
                                <title>Payment Methods</title>
                                <action>adminhtml/ammethods_manage/payment</action>
                                <sort_order>10</sort_order>
                            </ammethods_payment>
                            <ammethods_shipping translate="title">
                                <title>Shipping Methods</title>
                                <action>adminhtml/ammethods_manage/shipping</action>
                                <sort_order>20</sort_order>
                            </ammethods_shipping>
                        </children>
                    </ammethods>
                </children>
            </system>
        </menu>
        
        <translate>
            <modules>
                <Amasty_Methods>
                    <files>
                        <default>Amasty_Methods.csv</default>
                    </files>
                </Amasty_Methods>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <ammethods translate="title">
                                    <title>Payment/Shipping Methods Access</title>
                                    <sort_order>30</sort_order>
                                    <children>
                                        <ammethods_payment translate="title">
                                            <title>Payment Methods</title>
                                            <sort_order>10</sort_order>
                                        </ammethods_payment>
                                        <ammethods_shipping translate="title">
                                            <title>Shipping Methods</title>
                                            <sort_order>20</sort_order>
                                        </ammethods_shipping>
                                    </children>
                                </ammethods>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    <global>
        <models>
            <ammethods>
                <class>Amasty_Methods_Model</class>
                <resourceModel>ammethods_mysql4</resourceModel>
            </ammethods>
            
            <ammethods_mysql4>
                <class>Amasty_Methods_Model_Mysql4</class>
                <entities>
                    <visibility>
                        <table>amasty_methods_visibility</table>
                    </visibility>
                </entities>
            </ammethods_mysql4>

        </models>
        
		<resources>
             <ammethods_setup>
                <setup>
                    <module>Amasty_Methods</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ammethods_setup>
		    <ammethods_write>
		        <connection><use>core_write</use></connection>
		    </ammethods_write>
		    <ammethods_read>
		        <connection><use>core_read</use></connection>
		    </ammethods_read>
		</resources>
		  
        <blocks>
            <ammethods>
                <class>Amasty_Methods_Block</class>
            </ammethods>

            <checkout>
                <rewrite>
                    <onepage_payment_methods>Amasty_Methods_Block_Rewrite_Onepage_Payment_Methods</onepage_payment_methods>
                    <onepage_shipping_method_available>Amasty_Methods_Block_Rewrite_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                    <cart_shipping>Amasty_Methods_Block_Rewrite_Checkout_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
            
        </blocks>
        
        <helpers>
            <ammethods>
                <class>Amasty_Methods_Helper</class>
            </ammethods>
        </helpers>
    </global>
</config>