<?xml version="1.0"?>
<config>
    <modules>
        <AW_Mobile2>
            <version>2.0.7</version><platform>ce</platform>
        </AW_Mobile2>
    </modules>
    <global>
        <blocks>
            <aw_mobile2>
                <class>AW_Mobile2_Block</class>
            </aw_mobile2>
        </blocks>
        <helpers>
            <aw_mobile2>
                <class>AW_Mobile2_Helper</class>
            </aw_mobile2>
        </helpers>
        <models>
            <aw_mobile2>
                <class>AW_Mobile2_Model</class>
            </aw_mobile2>
            <core>
                <rewrite>
                    <design_package>AW_Mobile2_Model_Core_Design_Package</design_package>
                </rewrite>
            </core>
            <enterprise_pagecache>
                <rewrite>
                    <processor>AW_Mobile2_Model_Enterprise_PageCache_Processor</processor>
                </rewrite>
            </enterprise_pagecache>
        </models>
        <resources>
            <aw_mobile2_setup>
                <setup>
                    <module>AW_Mobile2</module>
                    <class>AW_Mobile2_Model_Source_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aw_mobile2_setup>
            <aw_mobile2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_mobile2_write>
            <aw_mobile2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_mobile2_read>
        </resources>
        <events>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <captcha>
                        <class>aw_mobile2/observer</class>
                        <method>checkUserLogin</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
			<!--Adding this observer event as we want to remove the non shippable products from cart while saving shipping method. Mohin, 26 Oct 2015-->
			<checkout_controller_onepage_save_shipping_method>
                <observers>
                    <remove_cart_items>
                        <type>singleton</type>
                        <class>aw_mobile2/observer</class>
                        <method>removeNonShippableProducts</method>
                    </remove_cart_items>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <AW_Mobile2>
                    <files>
                        <default>AW_Mobile2.csv</default>
                    </files>
                </AW_Mobile2>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <aw_mobile2_layout_render_before>
                        <type>singleton</type>
                        <class>aw_mobile2/observer</class>
                        <method>beforeRenderLayout</method>
                    </aw_mobile2_layout_render_before>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_layout_load_before>
                <observers>
                    <aw_mobile2_layout_render_before>
                        <type>singleton</type>
                        <class>aw_mobile2/observer</class>
                        <method>loadBeforeLayout</method>
                    </aw_mobile2_layout_render_before>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_predispatch_aw_mobile2_customer_loginPost>
                <observers>
                    <captcha>
                        <class>aw_mobile2/observer</class>
                        <method>checkUserLogin</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_aw_mobile2_customer_loginPost>
            <controller_action_predispatch_aw_mobile2_customer_forgotpasswordpost>
                <observers>
                    <captcha>
                        <class>aw_mobile2/observer</class>
                        <method>checkForgotPassword</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_aw_mobile2_customer_forgotpasswordpost>
            <controller_action_predispatch_aw_mobile2_customer_createpost>
                <observers>
                    <captcha>
                        <class>aw_mobile2/observer</class>
                        <method>checkUserCreate</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_aw_mobile2_customer_createpost>
            <http_response_send_before>
                <observers>
                    <aw_mobile2_response_send_before>
                        <class>aw_mobile2/observer</class>
                        <method>sendResponseBefore</method>
                    </aw_mobile2_response_send_before>
                </observers>
            </http_response_send_before>
        </events>
        <routers>
            <aw_mobile2>
                <use>standard</use>
                <args>
                    <module>AW_Mobile2</module>
                    <frontName>awmobile2</frontName>
                </args>
            </aw_mobile2>
        </routers>
        <layout>
            <updates>
                <aw_mobile2>
                    <file>aw_mobile2.xml</file>
                </aw_mobile2>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Mobile2>
                    <files>
                        <default>AW_Mobile2.csv</default>
                    </files>
                </AW_Mobile2>
            </modules>
        </translate>
    </frontend>
    <default>
        <captcha  translate="label">
            <frontend>
                <areas>
                    <user_checkout_login>
                        <label>Login during Checkout (Mobile View)</label>
                    </user_checkout_login>
                </areas>
            </frontend>
        </captcha>
        <aw_mobile2>
            <general>
                <is_enabled>0</is_enabled>
                <iphone_home_page></iphone_home_page>
                <display_stock_status_at_catalog>0</display_stock_status_at_catalog>
            </general>
            <design>
                <mobile_logo_src></mobile_logo_src>
                <tablet_logo_src></tablet_logo_src>
                <bookmarks_src></bookmarks_src>
            </design>
            <behavior>
                <switcher>1</switcher>
                <mobile_detect>1</mobile_detect>
            </behavior>
        </aw_mobile2>
    </default>
</config>