<?xml version="1.0"?>
<config>
  <modules>
    <Wholesale_ThankyouWholesaleSignup>
      <version>0.1.0</version>
    </Wholesale_ThankyouWholesaleSignup>
  </modules>
  <frontend>
    <routers>
      <thankyouwholesalesignup>
        <use>standard</use>
          <args>
            <module>Wholesale_ThankyouWholesaleSignup</module>
            <frontName>thankyouwholesalesignup</frontName>
          </args>
      </thankyouwholesalesignup>
    </routers>
		<layout>
		  <updates>
			<thankyouwholesalesignup>
			  <file>thankyouwholesalesignup.xml</file>
			</thankyouwholesalesignup>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <thankyouwholesalesignup>
        <class>Wholesale_ThankyouWholesaleSignup_Helper</class>
      </thankyouwholesalesignup>
    </helpers>
	<blocks>
	  <thankyouwholesalesignup>
		<class>Wholesale_ThankyouWholesaleSignup_Block</class>
	  </thankyouwholesalesignup>
	</blocks>
  </global>
</config> 