<?xml version="1.0"?>
<config>
	<modules>
		<Bulksupplements_RestrictCountry>
			<version>1.0.0</version>
		</Bulksupplements_RestrictCountry>
	</modules>
	<frontend>
		<routers>
			<restrictshipping>
				<use>standard</use>
				<args>
					<module>Bulksupplements_RestrictCountry</module>
					<frontName>restrictshipping</frontName>
				</args>
			</restrictshipping>			
		</routers>		
	</frontend>
	<admin>
		<routers>			
			<adminhtml>
				<args>
					<modules>
						<restrictcountry before="Mage_Adminhtml">Bulksupplements_RestrictCountry_Adminhtml</restrictcountry>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>        
        <helpers>
            <restrictcountry>
                <class>Bulksupplements_RestrictCountry_Helper</class>
            </restrictcountry>
        </helpers>
        <models>
            <restrictcountry>
                <class>Bulksupplements_RestrictCountry_Model</class>
            </restrictcountry>
        </models>
        <resources>
            <bs_restrictcountry_setup>
                <setup>
                    <module>Bulksupplements_RestrictCountry</module>
                </setup>                
            </bs_restrictcountry_setup>            
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <bs_restricted_countries/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
</config>