<?xml version="1.0"?>
<config>
    <modules>
        <MDN_SalesOrderPlanning>
            <version>2.3.11</version>
        </MDN_SalesOrderPlanning>
    </modules>
    <global>

        <helpers>
            <SalesOrderPlanning>
                <class>MDN_SalesOrderPlanning_Helper</class>
            </SalesOrderPlanning>
        </helpers>

        <blocks>
            <SalesOrderPlanning>
                <class>MDN_SalesOrderPlanning_Block</class>
            </SalesOrderPlanning>
            <catalog>
                <rewrite>
                    <product_view_type_simple>MDN_SalesOrderPlanning_Block_Front_Catalog_Product_View_Type_Simple</product_view_type_simple>
                    <!-- Fix extension conflict
                    15 Dec 2016, Erik -->
                    <!-- <product_view_type_configurable>MDN_SalesOrderPlanning_Block_Front_Catalog_Product_View_Type_Configurable</product_view_type_configurable> -->
                </rewrite>
            </catalog>

            <cataloginventory>
                <rewrite>
                    <stockqty_default>MDN_SalesOrderPlanning_Block_Front_CatalogInventory_Stockqty_Default</stockqty_default>
                </rewrite>
            </cataloginventory>

        </blocks>

        <models>
            <SalesOrderPlanning>
                <class>MDN_SalesOrderPlanning_Model</class>
                <resourceModel>SalesOrderPlanning_mysql4</resourceModel>
            </SalesOrderPlanning>

            <catalog>
                <rewrite>
                    <product_type_simple>MDN_SalesOrderPlanning_Model_Catalog_Product_Type_Simple</product_type_simple>
                    <product_type_configurable>MDN_SalesOrderPlanning_Model_Catalog_Product_Type_Configurable</product_type_configurable>
                </rewrite>
            </catalog>

            <SalesOrderPlanning_mysql4>
                <class>MDN_SalesOrderPlanning_Model_Mysql4</class>
                <entities>
                    <Planning>
                        <table>purchase_sales_order_planning</table>
                    </Planning>
                    <ShippingDelay>
                        <table>purchase_shipping_delay</table>
                    </ShippingDelay>
                    <ProductAvailabilityStatus>
                        <table>product_availability</table>
                    </ProductAvailabilityStatus>
                </entities>
            </SalesOrderPlanning_mysql4>
        </models>

        <resources>
            <SalesOrderPlanning_setup>
                <setup>
                    <module>MDN_SalesOrderPlanning</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </SalesOrderPlanning_setup>
            <SalesOrderPlanning_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </SalesOrderPlanning_write>
            <SalesOrderPlanning_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </SalesOrderPlanning_read>
        </resources>

        <events>
            <sales_order_place_after>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/Observer</class>
                        <method>sales_order_afterPlace</method>
                    </SalesOrderPlanning>
                </observers>
            </sales_order_place_after>
            <advancedstock_order_item_reserved_qty_changed>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>advancedstock_order_item_reserved_qty_changed</method>
                    </SalesOrderPlanning>
                </observers>
            </advancedstock_order_item_reserved_qty_changed>
            <advancedstock_order_considered_by_cron>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>advancedstock_order_considered_by_cron</method>
                    </SalesOrderPlanning>
                </observers>
            </advancedstock_order_considered_by_cron>
            <product_delivery_date_change>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>product_delivery_date_change</method>
                    </SalesOrderPlanning>
                </observers>
            </product_delivery_date_change>
            <product_waiting_for_delivery_qty_change>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>product_waiting_for_delivery_qty_change</method>
                    </SalesOrderPlanning>
                </observers>
            </product_waiting_for_delivery_qty_change>

            <purchase_product_supplier_after_save>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>purchase_product_supplier_after_save</method>
                    </SalesOrderPlanning>
                </observers>
            </purchase_product_supplier_after_save>
            <advancedstock_sales_order_grid_before_render>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>advancedstock_sales_order_grid_before_render</method>
                    </SalesOrderPlanning>
                </observers>
            </advancedstock_sales_order_grid_before_render>
            <advancedstock_stock_aftersave>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>advancedstock_stock_aftersave</method>
                    </SalesOrderPlanning>
                </observers>
            </advancedstock_stock_aftersave>
            <purchase_supplier_aftersave>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>purchase_supplier_aftersave</method>
                    </SalesOrderPlanning>
                </observers>
            </purchase_supplier_aftersave>
            <advancedstock_product_sheet_save>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>advancedstock_product_sheet_save</method>
                    </SalesOrderPlanning>
                </observers>
            </advancedstock_product_sheet_save>
            <advancedstock_product_edit_create_tabs>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>advancedstock_product_edit_create_tabs</method>
                    </SalesOrderPlanning>
                </observers>
            </advancedstock_product_edit_create_tabs>
            <sales_order_save_after>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>sales_order_save_after</method>
                    </SalesOrderPlanning>
                </observers>
            </sales_order_save_after>
            <catalog_product_save_after>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>catalog_product_save_after</method>
                    </SalesOrderPlanning>
                </observers>
            </catalog_product_save_after>

            <salesorder_shipment_aftercreate>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>salesorder_shipment_aftercreate</method>
                    </SalesOrderPlanning>
                </observers>
            </salesorder_shipment_aftercreate>

            <sales_order_creditmemo_save_after>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>sales_order_creditmemo_save_after</method>
                    </SalesOrderPlanning>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>sales_order_shipment_save_after</method>
                    </SalesOrderPlanning>
                </observers>
            </sales_order_shipment_save_after>
            <sales_convert_quote_to_order>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/Observer</class>
                        <method>sales_convert_quote_to_order</method>
                    </SalesOrderPlanning>
                </observers>
            </sales_convert_quote_to_order>
            <salesorder_grid_preparecolumns>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>salesorder_grid_preparecolumns</method>
                    </SalesOrderPlanning>
                </observers>
            </salesorder_grid_preparecolumns>
            <advancedstock_pendingsalesorders_grid_preparecolumns>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>advancedstock_pendingsalesorders_grid_preparecolumns</method>
                    </SalesOrderPlanning>
                </observers>
            </advancedstock_pendingsalesorders_grid_preparecolumns>

            <orderpreparartion_fullstock_createcolums>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>orderpreparartion_createcolums</method>
                    </SalesOrderPlanning>
                </observers>
            </orderpreparartion_fullstock_createcolums>
            <orderpreparartion_selected_createcolums>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>orderpreparartion_createcolums</method>
                    </SalesOrderPlanning>
                </observers>
            </orderpreparartion_selected_createcolums>
            <orderpreparartion_ignored_createcolums>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>orderpreparartion_createcolums</method>
                    </SalesOrderPlanning>
                </observers>
            </orderpreparartion_ignored_createcolums>
            <orderpreparartion_stockless_createcolums>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>orderpreparartion_createcolums</method>
                    </SalesOrderPlanning>
                </observers>
            </orderpreparartion_stockless_createcolums>

            <purchase_stockdetails_pendingsalesorder_preparecolumns>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>orderpreparartion_createcolums</method>
                    </SalesOrderPlanning>
                </observers>
            </purchase_stockdetails_pendingsalesorder_preparecolumns>

            <catalog_model_product_duplicate>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/Observer</class>
                        <method>catalog_model_product_duplicate</method>
                    </SalesOrderPlanning>
                </observers>
            </catalog_model_product_duplicate>

            <catalog_product_delete_before>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/Observer</class>
                        <method>catalog_product_delete_before</method>
                    </SalesOrderPlanning>
                </observers>
            </catalog_product_delete_before>

            <salesorder_just_cancelled>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>salesorder_just_cancelled</method>
                    </SalesOrderPlanning>
                </observers>
            </salesorder_just_cancelled>

            <advancedstock_product_grid_preparecolumns>
                <observers>
                    <SalesOrderPlanning>
                        <type>singleton</type>
                        <class>SalesOrderPlanning/ErpObserver</class>
                        <method>advancedstock_product_grid_preparecolumns</method>
                    </SalesOrderPlanning>
                </observers>
            </advancedstock_product_grid_preparecolumns>
        </events>

    </global>

    <adminhtml>

        <routers>
            <SalesOrderPlanning>
                <use>standard</use>
                <args>
                    <module>MDN_SalesOrderPlanning</module>
                    <frontName>SalesOrderPlanning</frontName>
                </args>
            </SalesOrderPlanning>
        </routers>

        <layout>
            <updates>
                <SalesOrderPlanning>
                    <file>SalesOrderPlanning.xml</file>
                </SalesOrderPlanning>
            </updates>
        </layout>

        <translate>
            <modules>
                <MDN_SalesOrderPlanning>
                    <files>
                        <default>MDN_SalesOrderPlanning.csv</default>
                    </files>
                </MDN_SalesOrderPlanning>
            </modules>
        </translate>

    </adminhtml>

    <frontend>
        <routers>
            <SalesOrderPlanning>
                <use>standard</use>
                <args>
                    <module>MDN_SalesOrderPlanning</module>
                    <frontName>SalesOrderPlanning</frontName>
                </args>
            </SalesOrderPlanning>
        </routers>

        <layout>
            <updates>
                <SalesOrderPlanning>
                    <file>SalesOrderPlanning.xml</file>
                </SalesOrderPlanning>
            </updates>
        </layout>


        <translate>
            <modules>
                <MDN_SalesOrderPlanning>
                    <files>
                        <default>MDN_SalesOrderPlanning.csv</default>
                    </files>
                </MDN_SalesOrderPlanning>
            </modules>
        </translate>

    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SalesOrderPlanning before="Mage_Adminhtml">MDN_SalesOrderPlanning_Adminhtml</SalesOrderPlanning>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <crontab>
        <jobs>
        	<!-- deprecated : plannings are update on demand only -->
        	<!--
            <update_plannings>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>SalesOrderPlanning/Observer::UpdatePlannings</model></run>
            </update_plannings>
            -->
            <update_availability_status>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>SalesOrderPlanning/Observer::RefreshForProductWithOutOfStockPeriod</model>
                </run>
            </update_availability_status>
        </jobs>
    </crontab>

    <default>
        <planning>
            <general>
                <enable_planning>1</enable_planning>
                <auto_create_if_not_exist>1</auto_create_if_not_exist>
                <calculate_for_non_stock_managed_product>1</calculate_for_non_stock_managed_product>
            </general>
            <consider>
                <consider_order_when_placed>1</consider_order_when_placed>
                <consider_order_when_invoiced>0</consider_order_when_invoiced>
                <consider_order_on_paypment_validated>0</consider_order_on_paypment_validated>
                <include_holy_days>0</include_holy_days>
                <consider_order_tomorow_if_placed_after>24</consider_order_tomorow_if_placed_after>
                <non_working_days>01-01,25-12</non_working_days>
            </consider>
            <fullstock>
                <avoid_holy_days>1</avoid_holy_days>
                <maxdate_calculation_mode>days</maxdate_calculation_mode>
                <maxdate_calculation_value>0</maxdate_calculation_value>
            </fullstock>
            <shipping>
                <order_preparation_duration>0</order_preparation_duration>
                <maxdate_calculation_mode>days</maxdate_calculation_mode>
                <maxdate_calculation_value>0</maxdate_calculation_value>
                <avoid_holy_days>1</avoid_holy_days>
            </shipping>
            <delivery>
                <maxdate_calculation_mode>days</maxdate_calculation_mode>
                <maxdate_calculation_value>0</maxdate_calculation_value>
                <avoid_holy_days>1</avoid_holy_days>
                <default_shipping_delay>3</default_shipping_delay>
            </delivery>
            <quote_options>
                <delayed_payment_delay>5</delayed_payment_delay>
            </quote_options>
        </planning>
    </default>


</config>
